<section>
  <div class="container">
    <h1> Profile </h1>
    <p><strong>Name:</strong>  <%= @user.first_name %> <%= @user.last_name %> </p>
    <p><strong>Age:</strong> <%= @user.age %> </p>
    <p><strong>Email:</strong> <%= @user.email %> </p>
    <hr>
    <% if @user.addresses %>
      <%= render "address" %>
    <% end %>

    <hr>
    <h3>Your Vehicles</h3>
    <% if @user.vehicles %>
      <% @user.vehicles.each do |vehicle| %>
      <%= link_to user_vehicle_path(@user, vehicle) do %>
        <%= vehicle.model %>
        <%= link_to "Add Images", new_vehicle_image_path(vehicle) %>
        <% if vehicle.images.any? %>
          <%= image_tag vehicle.images.last.avatar(:thumb) %>
        <% end %>
      <% end %>
        <br>
      <% end %>
    <% end %>
    <hr>
    <br>
    <%= link_to "Edit Profile", edit_user_registration_path %>
    <br>
    <%= link_to "List Your Vehicle", new_user_vehicle_path(@user) %>
  </div>
</section>
