
<section class="section-hero">
  <div class="container">
    <h1>Lend My Auto</h1>
    <p>Never be stuck without wheels again!</p>
    <div class="search-bar">
      <%= render "pages/search_bar" %>
    </div>
  </div>
</section>

<section class="section-benefits">
  <div class="container">
    <h1>Getting started is easy...</h1>
    <div class="benefits-grid">
      <div class="benefit">
        <img src="/assets/car.png" alt="">
        <h2>Rent Your Perfect Vehicle</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue.</p>
      </div>
      <div class="benefit">
        <img src="/assets/charity.png" alt="">
        <h2>Help Support Mobility In Other Countries</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue.</p>
      </div>
      <div class="benefit">
        <img src="/assets/piggy-bank.png" alt="">
        <h2>Make Extra Cash!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue. Integer vitae lacinia magna.</p>
      </div>
    </div>
  </div>
</section>




<section>
  <div class="container">
    <div class="popular-cars">
      <% @vehicles.each do |vehicle| %>
      <div class="row">

          <div class="small-12 large-7 columns">
            <%= link_to new_vehicle_reservation_path(vehicle) do %>
              <%= image_tag vehicle.images.first.avatar(:medium) %>
            <% end %>
          </div>
          <div class="small-12 large-5 columns">
            <ul class="inline-list">
              <li> <%= vehicle.make %></li>
              <li> <%= vehicle.model %> </li>
            </ul>
          </div>

      </div>
      <hr>
      <% end %>
    </div>
  </div>
</section>

<section class="section-new">
  <div class="container">
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue. Integer vitae lacinia magna. Donec aliquam, justo id maximus accumsan, eros massa iaculis augue, vitae porttitor libero est quis nisl. Praesent egestas libero nec tellus iaculis porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue. Integer vitae lacinia magna. Donec aliquam, justo id maximus accumsan, eros massa iaculis augue, vitae porttitor libero est quis nisl. Praesent egestas libero nec tellus iaculis porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue. Integer vitae lacinia magna. Donec aliquam, justo id maximus accumsan, eros massa iaculis augue, vitae porttitor libero est quis nisl. Praesent egestas libero nec tellus iaculis porta.</h1>
  </div>
</section>
