
<section class="hero">
  <div class="container">
    <h1>Lend My Auto</h1>
    <p>Never be stuck without wheels again!</p>
    <%= render "search_bar" %>
  </div>
</section>

<section class="how-it-works">
  <div class="container">
    <div class="how-it-works-grid">
      <div class="">
        <h1>Test</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue. Integer vitae lacinia magna. Donec aliquam, justo id maximus accumsan, eros massa iaculis augue, vitae porttitor libero est quis nisl. Praesent egestas libero nec tellus iaculis porta.</p>
      </div>
      <div class="">
        <h1>Test</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue. Integer vitae lacinia magna. Donec aliquam, justo id maximus accumsan, eros massa iaculis augue, vitae porttitor libero est quis nisl. Praesent egestas libero nec tellus iaculis porta.</p>
      </div>
      <div class="">
        <h1>Test</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue. Integer vitae lacinia magna. Donec aliquam, justo id maximus accumsan, eros massa iaculis augue, vitae porttitor libero est quis nisl. Praesent egestas libero nec tellus iaculis porta.</p>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container">
    <div class="popular-cars">
      <% @vehicles.each do |vehicle| %>
      <div class="row">

          <div class="small-12 large-7 columns">
            <%= link_to new_vehicle_reservation_path(vehicle) do %>
              <%= image_tag vehicle.images.first.avatar(:medium) %>
            <% end %>
          </div>
          <div class="small-12 large-5 columns">
            <ul class="inline-list">
              <li> <%= vehicle.make %></li>
              <li> <%= vehicle.model %> </li>
            </ul>
          </div>

      </div>
      <hr>
      <% end %>
    </div>
  </div>

</section>
