
<section id="section-hero">
  <div class="container">
    <div class="hero-header">
      <h1>lendMYauto</h1>
      <h2>Your neighborhood car rental service</h2>
    </div>
    <div class="search-bar">
      <%= render "pages/search_bar" %>
    </div>
  </div>
</section>

<section class="section-benefits">
  <div class="container">
    <div class="benefits-header">
      <h1>The Perfect Vehicle For The Perfect Adventure</h1>
      <p>Tons of cars of at affordable prices</p>
    </div>
    <div class="benefits-grid">
      <div class="benefit">
        <img src="/assets/car.png" alt="">
        <h2>Rent Your Perfect Vehicle</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue.</p>
      </div>
      <div class="benefit">
        <img src="/assets/charity.png" alt="">
        <h2>Help Support Mobility In Other Countries</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue.</p>
      </div>
      <div class="benefit">
        <img src="/assets/piggy-bank.png" alt="">
        <h2>Make Extra Cash!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id felis augue. Proin a mi quis ligula efficitur eleifend ut in augue. Integer vitae lacinia magna.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-learn">
  <div class="learn-block">
    <h2>Let Your Vehicle Work For You</h2>
    <h4>List your vehicle and start earning immediately</h4>
    <button type="button" name="button" class="btn">Learn More</button>
  </div>
</section>

<section class="section-title">
  <div class="container">
    <h2>It's Not The Destination, It's The Journey</h2>
    <p>Renting a car shouldn't be stressful. We make it easy, like Tinder..</p>
  </div>
</section>

<section class="section-popular-cars">
  <div class="container">
    <div class="popular-cars-header">
      <h1>Popular Cars</h1>
    </div>
    <div class="row">
      <% @vehicles.each do |vehicle| %>
        <div class="col-lg-4">
          <%= link_to new_vehicle_reservation_path(vehicle) do %>
            <div class="popular-car">
              <div class="row popular-car-image">
                  <%= image_tag vehicle.images.first.avatar, class: "responsive-image" %>
              </div>
              <div class="row">
                <div class="popular-car-details">
                  <ul>
                    <li> <%= vehicle.make %></li>
                    <li> <%= vehicle.model %> </li>
                    <li> <%= vehicle.year %> </li>
                    <li> <%= number_to_currency vehicle.daily_price %> </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
