<div class="reservation-vehicle">
  <h1> <%= @vehicle.year %> </h1>
  <h1> <%= @vehicle.make %> </h1>
  <h1> <%= @vehicle.model %></h1>
  <ul>
    <li> Milage: <%= @vehicle.milage %> </li>
    <li> Color: <%= @vehicle.color %> </li>
    <li> Seats: <%= @vehicle.seats %> </li>
    <li> Doors: <%= @vehicle.doors %> </li>
  </ul>
</div>
