<section class="reservation-container">
  <div class="container">

    <div class="image-grid">
      <div class="row">
        <% @vehicle.images.each do |image| %>
        <div class="col-md-3">
          <%= image_tag image.avatar(:medium) %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="vehicle-details">
      <h1>Vehicle Details </h1>
      <ul>
        <li> <%= @vehicle.year %> </li>
        <li> <%= @vehicle.make %> </li>
        <li> <%= @vehicle.model %> </li>
        <li> <%= @vehicle.color %> </li>
        <li> <%= @vehicle.milage %> </li>
      </ul>
    </div>

    <div class="vehicle-features">
      <h5>Features</h5>
      <ul>
        <% @features.each do |feature| %>
          <li> <%= feature.description %> </li>
        <% end %>
      </ul>
    </div>

  </div>
</section>
