<section>
  <div class="image-grid">
    <% @vehicle.images.each do |image| %>
      <div><%= image_tag image.avatar, class: "responsive-image" %></div>
    <% end %>
  </div>
  <div class="container reservation">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <%= render "vehicle_details" %>
        <div class="vehicle-features">
          <h5>Features</h5>
          <ul class="row">
            <% @features.each do |feature| %>
              <div class="col-sm-3 col-md-4">
                <li> <%= feature.description %> </li>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="price">
          <p>Daily Price: <%= @vehicle.daily_price %></p>
        </div>
        <div class="reservation-form">
          <%= simple_form_for [@vehicle, @reservation] do |f| %>
          <%= f.input_field :start_date, as: :date, start_year: Date.today.year,
          end_year: Date.today.year + 5,
          order: [:month, :day, :year] %>
          <%= f.input :end_date, as: :date, start_year: Date.today.year,
          end_year: Date.today.year + 5,
          order: [:month, :day, :year] %>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
