<section>
  <div class="container">
    <h1>Enter Your Vechicle Details</h1>

    <%= render "layouts/errors", :object => @vehicle %>

    <%= form_for [@user, @vehicle] do |f| %>
      <%= f.label :make %>
      <%= f.text_field :make %>
      <%= f.label :model %>
      <%= f.text_field :model %>
      <%= f.label :year %>
      <%= f.number_field :year %>
      <%= f.label :milage %>
      <%= f.number_field :milage %>
      <%= f.label :transmission %>
      <%= f.select :transmission, ["Automatic", "Manual"]%>
      <%= f.label :color %>
      <%= f.text_field :color %>
      <%= f.label "Number Of Seats" %>
      <%= f.number_field :seats %>
      <%= f.label :category %>
      <%= f.select :category, ["Suv","Truck", "Sedan", "Coupe", "Van", "Wagon", "Convertible","Sports Car", "Hybrid/Electric",  "Luxury"] %><br>


      Features:
      <ul>
        <%= f.fields_for :features do |features_form| %>
          <li>
            <%= features_form.label :all_wheel_drive %>
            <%= features_form.check_box :all_wheel_drive %>
            <%= features_form.label :smoking_allowed %>
            <%= features_form.check_box :smoking_allowed %>
            <%= features_form.label :pets_allowed %>
            <%= features_form.check_box :pets_allowed %>
            <%= features_form.label :gps %>
            <%= features_form.check_box :gps %>
            <%= features_form.label :ski_rack %>
            <%= features_form.check_box :ski_rack %>
            <%= features_form.label :bike_rack %>
            <%= features_form.check_box :bike_rack %>
            <%= features_form.label :bluetooth %>
            <%= features_form.check_box :bluetooth %>
            <%= features_form.label :sunroof %>
            <%= features_form.check_box :sunroof %>
            <%= features_form.label :audio_input %>
            <%= features_form.check_box :audio_input %>
            <%= features_form.label :snowtires_or_chains %>
            <%= features_form.check_box :snowtires_or_chains %>
            <%= features_form.label :rear_camera %>
            <%= features_form.check_box :rear_camera %>
            <%= features_form.label :navigation %>
            <%= features_form.check_box :navigation %>
            <%= features_form.label :heated_seats %>
            <%= features_form.check_box :heated_seats %>
          </li>
        <% end %>
      </ul>


      <%= f.label :start_date %>
      <%= select_date Date.today, prefix: :start_date %>
      <br>
      <%= f.label :end_date %>
      <%= select_date Date.today, prefix: :end_date %>
      <br>
      <%= f.submit %>
    <% end %>

  </div>
</section>
