<%= render "layouts/errors", :object => @location %>

<%= form_for @location do |f| %>
  <div class="field">
    <%= f.label :street_address %>
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip_code %>
    <%= f.number_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.country_select :country, { selected: "US" } %>
  </div>
  <div class="field">
    <p><%= f.submit "Submit" %></p>
  </div>
<% end %>
