<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name%>
</div>

<div class="field">
  <%= f.label :age %><br />
  <%= f.number_field :age %>
</div>

<div class="field">
  <%= f.label :phone_number %><br />
  <%= f.text_field :phone_number, placeholder: "i.e. 4153934433" %>
</div>
