<%= render "layouts/errors", :object => @account %>

<%= form_for @account do |f| %>
  <div class="field">
    <%= f.label "First Name" %><br />
    <%= f.text_field :user_first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Last Name"  %><br />
    <%= f.text_field :user_last_name %>
  </div>

  <div class="field">
    <%= f.label "Enter Date of Birth" %><br />
    <%= f.date_select :user_birth_date, {start_year: 1920, use_month_numbers: true, use_two_digit_numbers: true }%>
  </div>

  <div class="field">
    <%= f.label "Phone Number" %><br />
    <%= f.text_field :user_phone_number, placeholder: "i.e. 4153934433" %>
  </div>
  <%= f.submit %>
<% end %>
