<section>
  <div class="container">
    <h1> <%= "#{@account.user_first_name}'s Dashboard" if @account.user_last_name %></h1>

    <div class="dropdown">
      <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Account
      </a>
      <%= image_tag @account.remote_image %>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to "Edit Password", edit_user_registration_path(@user), class: "dropdown-item" %>
        <%= link_to "Edit Profile Details", edit_account_path(@account), class: "dropdown-item" %>
      </div>
    </div>

    <hr>
    <h3>Manage Vehicles</h3>
    <% if @vehicles %>
      <% @vehicles.each do |vehicle| %>
        <%= link_to vehicle.make, vehicle_path(vehicle) %>
        <br>
      <% end %>
    <% end %>
    <hr>

  </div>
</section>
