<section id="profile-dashboard">
  <div class="container">
    <h1> <%= "#{@account.user_first_name}'s Dashboard" if @account.user_last_name %></h1>

    <div class="row">
      <div class="col-md-10">
        <%= image_tag @account.remote_image if @account.remote_image %>
        <%= image_tag @account.image.avatar(:thumb) if @account.image %>
        <div class="profile-details">
          <p> <%=@account.user_first_name%> <%=@account.user_last_name%> </p>
          <p> <%= @account.user_phone_number %> </p>
          <p> Member Since: <%= @account.created_at.to_formatted_s(:month_day_comma_year) %> </p>
          <p><%= "Drivers License On File   ✔️ "  if @account.drivers_license %></p>
        </div>
        <%= link_to "Edit Password", edit_user_registration_path(@user) %> |
        <%= link_to "Edit Profile Details", edit_account_path(@account) %>
      </div>
      <div class="col-md-2 ">
        <% if @vehicles.empty? == false %>
          <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage Vehicles
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <% @vehicles.each do |vehicle| %>
                <%= link_to vehicle.make, vehicle_path(vehicle), class: "dropdown-item"  %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
