<section id="profile-dashboard">
  <div class="container">
    <h1> <%= "#{@account.user_first_name}'s Dashboard" if @account.user_last_name %></h1>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <%= image_tag @account.remote_image if @account.remote_image %>
        <%= image_tag @account.image.avatar(:thumb) if @account.image %>
        <div class="profile-details">
          <p> Name: <%=@account.user_first_name%> <%=@account.user_last_name%> </p>
          <p> Phone Number: <%= @account.user_phone_number %> </p>
          <p> Member Since: <%= @account.created_at.to_formatted_s(:month_day_comma_year) %> </p>
          <p><%= "Drivers License On File   ✔️ "  if @account.drivers_license %></p>
        </div>
        <%= link_to "Edit Password", edit_user_registration_path(@user) %> |
        <%= link_to "Edit Profile Details", edit_account_path(@account) %>
        <hr>
        <div class="upcoming-loans">
          <h3>Upcoming Vehicle Reservations</h3>
          <% if @account.loans.nil? %>
            <% @account.loans.each do |loan| %>
              <ul>
                <li> Renter: <%= Account.find(loan.renter_account_id).user_first_name %></li>
                <li> Start Date: <%= loan.start_date.strftime("%B %e, %Y") %></li>
                <li> Duration: <%= distance_of_time_in_words(loan.start_date, loan.end_date) %> </li>
              </ul>
            <% end %>
          <% else %>
            <p> You have no upcoming reservations on your vehicles </p>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">

        <div class="upcoming-reservations">
          <h3>Upcoming Vehicle Rentals</h3>
          <% if @account.reservations %>
            <% @account.reservations.each do |reservation| %>
              <ul>
                <li> Lender: <%= Account.find(reservation.lender_account_id).user_first_name %></li>
                <li> Start Date: <%= reservation.start_date.strftime("%B %e, %Y") %></li>
                <li> Duration: <%= distance_of_time_in_words(reservation.start_date, reservation.end_date) %> </li>
                <hr>
              </ul>
            <% end %>
          <% else %>
            <p>You have no upcoming reservations</p>
          <% end %>
        </div>

        <% if @vehicles.empty? == false %>
          <h3>Your Vehicles</h3>
          <% @vehicles.each do |vehicle| %>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#"><%=vehicle.make%></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
                <div class="dropdown-menu">
                  <%= link_to "Edit Vehicle", edit_vehicle_path(vehicle), class: "dropdown-item" %>
                  <%= link_to "Add Images", new_vehicle_image_path(vehicle), class: "dropdown-item" %>
                </div>
              </li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
