<section>
  <div class="container">
    <h1> Profile </h1>
    <p><strong>Name:</strong>  <%= @user.first_name %> <%= @user.last_name %> </p>
    <p><strong>Age:</strong> <%= @user.age %> </p>
    <p><strong>Email:</strong> <%= @user.email %> </p>
    <hr>

    <% if @account.addresses %>
      <%= render "address" %>
    <% end %>


    <hr>
    <h3>Your Vehicles</h3>
    <% if @account.vehicles %>
      <% @account.vehicles.each do |vehicle| %>
      <div class="user-vehicle-block">
        <%= link_to vehicle.model, account_vehicle_path(@account, vehicle) %>

        <br>
        <% if vehicle.images.any? %>
          <%= image_tag vehicle.images.last.avatar(:thumb) %>
          <%= link_to "Add Images", new_vehicle_image_path(vehicle) %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    <hr>
    <br>
    <%= link_to "Edit Profile", edit_user_registration_path %>
    <br>
    <%= link_to "List Your Vehicle", new_account_vehicle_path(@account) %>
  </div>
</section>
